{% for vhost in vhosts %}

  <VirtualHost *:80>
    ServerName {{ vhost.server_name }}
    DocumentRoot {{ vhost.doc_root }}
    DirectoryIndex index.html index.php
    SetEnv APPLICATION_ENV development

    <Directory {{ vhost.doc_root }}>
      AllowOverride all
      Order allow,deny
      allow from all
      Require all granted
    </Directory>

    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/{{ vhost.doc_root }}/$1
  </VirtualHost>

{% endfor %}